h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1px;
    color: rgba(255, 255, 255, 1);
    margin: auto;
    padding-top: 5em;
    padding-bottom: 1em;
    
}

p{
    color: white;
    font-size: 25px;
}

.topic{
  height: 900px;
  width: 100%;
  padding: 5em;
  background-color: rgb(70, 69, 69);
}

.topic_content{
    margin: auto;
    height: 100%;
}

#navbar{
    width: 100%;
    margin: auto;
    height: 150px;
    background-color: rgb(29, 29, 29);
}

#examples_01{
    background-color: rgb(29, 29, 29);
}

#about{
    background-color: rgb(255, 188, 188);
}

#introduction .topic_content{
    background-image: url(../images/background_introduction.jpg);
   
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
}

#introduction button{
   
    height: 6%;
    width: 9%;
    background-color: transparent;
    border-radius: 0%;
    border: solid rgba(255, 255, 255, 1) 1px;
    color: rgba(255, 255, 255, 1);
}
#introduction .btn:hover, .btn:focus, .btn:active {
    background-color: rgba(255, 255, 255, 1)!important;
    border: solid rgba(255, 255, 255, 1) 1px!important;
    color: black!important;
    }


