body {
    color: #F0F0F0;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4.5em;
    font-weight: normal;
    line-height: 1.25em;
    margin: auto;
    padding-top: 2.5em;
    padding-bottom: 1em;
    text-align: center;
}

h2 {
    color: #FBC3BC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

p {
    margin-top: 2em;
    font-size: 0.8em;
}

form {
    margin: 0em 5em;
}

nav {
    display: block;
}

nav img {
    size: 20px;
    float: right;
}

hr {
    margin: 1.5em 0;
    background-color: #F0F0F0;
}

footer {
    width: 100%;
    height: 225px;
    padding: 5em;
    padding-top: 3.5em;
    background-color: #181818;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin-top: 1em;
}

.topic {
    height: 825px;
    width: 100%;
    padding: 5em;
    background-color: #2F2F2F;
}

.examples_lines {
    display: flex;
}

#navbar {
    width: 100%;
    margin: auto;
    padding: 2em 5em;
    height: 160px;
    background-color: #181818;
}

#navbar_1 {
    display: flex;
}

#introduction {
    height: 950px;
}

#introduction .topic_content {
    background-image: url(../images/background_introduction.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

#introduction .description {}

#introduction button {
    height: 6%;
    width: 9%;
    background-color: transparent;
    border-radius: 0%;
    border: solid #F0F0F0 1px;
    color: #F0F0F0;
}

#introduction .btn:hover, .btn:focus, .btn:active {
    background-color: #F0F0F0!important;
    border: solid #F0F0F0 1px!important;
    color: black!important;
}

#examples_01 {
    background-color: #181818;
    display: block;
    height: 970px;
}

#examples_01 img {
    width: 100%;
    height: 100%;
}

#examples_01 .topic_content {
    width: 270px;
    height: 270px;
}

#about {
    background-color: #FBC3BC;
    display: flex;
}

#about .topic_content {
    width: 49%;
    height: 100%;
    padding: 7em;
    display: inline-block;
    text-align: center;
}

#about .description {
    margin-top: 2em;
    text-align: center;
}

#about_01 {
    background-color: #181818;
    float: inline-start;
}

#about_02 {
    background-image: url(../images/parede_de_tijolo.jpg);
    background-repeat: no-repeat;
    height: 100%;
}

#prices {
    background-color: #181818;
    display: flex;
    height: 900;
    padding: 5em 6em;
}

#prices .topic_content {
    width: 31%;
    height: 100%;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border-radius: 0%;
    border: solid #F0F0F0 1px;
}

#prices img {
    width: 100%;
    height: 60%;
    position: center center;
}

#prices .description {
    margin: 2em;
    text-align: left;
}

#prices p {
    margin-top: 1em;
}

#prices button {
    width: 35%;
    height: 45;
    background-color: transparent;
    border-radius: 0%;
    border: solid #F0F0F0 1px;
    color: #F0F0F0;
}

#prices .btn:hover, .btn:focus, .btn:active {
    background-color: #F0F0F0!important;
    border: solid #F0F0F0 1px!important;
    color: black!important;
}

#contact {
    background-color: #181818;
    padding-top: 0%;
    display: block;
}

#contact img {
    width: 100%;
    height: 100%;
    display: block;
}

#contact_1 {
    display: flex;
}

#contact .topic_content {
    background-color: #2F2F2F;
    width: 50%;
    height: 50%;
}

#contact .description {
    margin: 9.15em;
    text-align: center;
}

#logo_ruppell {
    height: 50%;
    background-color: #2F2F2F;
}

@media (max-width: 600px){

    h1{
        padding-top: 5em;
        font-size: 3.5em;
    }

    h2{
        font-size: 2.5em;
    }

    .topic {
        padding: 2em;
    }

    #navbar {
        padding: 2em;
    }

    #about{
        display: none;
    }

    #introduction button {
        height: 6%;
        width: 30%;
    }

    #prices {
        display: flex;
        height: 900;
        padding: 5em 3em;
    }

    #prices .topic_content {
        width: 31%;
        height: 100%;
        display: inline-block;
        text-align: center;
        background-color: transparent;
        border-radius: 0%;
        border: solid #F0F0F0 1px;
    }
    
    #prices img {
        width: 100%;
        height: 60%;
        position: center center;
    }
    
    #prices .description {
        margin: 2em;
        text-align: left;
    }
    
    #prices p {
        margin-top: 1em;
    }

   #prices h3{
        font-size: 1.3em;
   } 
    
    #prices button {
        width: 100%;
        font-size: 1em;
    }
    
    #prices .btn:hover, .btn:focus, .btn:active {
        background-color: #F0F0F0!important;
        border: solid #F0F0F0 1px!important;
        color: black!important;
    }
}