body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(70, 69, 69);
}

h1{
    width: 100%;
    font-size: 1em;
   color: cornsilk;
    margin: auto;
    padding-top: 5em;
    padding-bottom: 1em;
}

.topic{
  height: 700px;
  margin: 0%;
  background-color: rgb(70, 69, 69);
}

.topic_content{
    margin: 5em 5em;
    text-align: center;
}

#navbar{
    width: 100%;
    margin: auto;
    height: 150px;
    background-color: rgb(29, 29, 29);
}

#examples_01{
    background-color: rgb(29, 29, 29);
}

#about{
    background-color: rgb(255, 188, 188);
}

#introduction .topic_content{
    background-image: url(../images/background_introduction.jpg);
    background-size: 1600px 1000px;
    background-repeat: no-repeat;
    height: 100%;
}

#introduction button{
   
    height: 6%;
    width: 9%;
    background-color: transparent;
    border-radius: 0%;
    border: solid rgba(255, 255, 255, 1) 1px;
    color: rgba(255, 255, 255, 1);
}
#introduction .btn:hover, .btn:focus, .btn:active {
    background-color: rgba(255, 255, 255, 1)!important;
    border: solid rgba(255, 255, 255, 1) 1px!important;
    color: black!important;
    }


